<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright © 2015 jomp16 <joseoliviopedrosa@gmail.com>
  ~
  ~ This work is free. You can redistribute it and/or modify it under the
  ~ terms of the Do What The Fuck You Want To Public License, Version 2,
  ~ as published by Sam Hocevar. See the COPYING file for more details.
  -->

<configuration packages="tk.jomp16.logger" status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%highlight{%d{dd/MM/yyyy HH:mm:ss} - [%-5level] --> (%logger{1.1.~.~}/%t) -> %msg%n}"/>
        </Console>
    </appenders>
    <loggers>
        <root level="all">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>